<div class="cover-image py-5 mb-4 shadow-sm" style="background-image: url(assets/images/home.svg)">
  <div class="container">
    <h1 class="display-4 mb-4">
      <span class="d-inline-block py-4 border-bottom border-dark">Welcome to ICDGenie</span>
    </h1>

    <p class="lead">A search, translation, and validation service for ICD codes and descriptions</p>

    <a class="btn btn-outline-primary" routerLink="/search">Explore Database</a>
  </div>
</div>

<div class="container mb-4">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-primary">Introduction</h2>
    </div>
    <div class="col-md-8">
      <p>
        Accurate histological classification is important for facilitating studies of cancer epidemiology and etiologic
        heterogeneity. ICDgenie is a web-based tool that can assist epidemiologists, pathologists, research assistants,
        and data scientists to more easily access, translate and validate codes and text descriptions from the
        International Classification of Diseases (10th Edition) and International Classification of Diseases for
        Oncology, 3rd Edition (ICD-O-3). By improving accessibility and making existing cancer classification and coding
        schemes to be more readily understandable and searchable, ICDgenie will help accelerate descriptive and
        molecular epidemiological studies of cancer.
      </p>
    </div>
  </div>
</div>
